:root {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* NAVBAR Jonas */

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: #333;
}

.logo img {
    height: 40px; 
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
    
}

.nav-links li a {
    color: white;
    text-decoration: none;
    color: #aba49f;
    font-size: 14px;
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 100px;
    background-color: #cdc6c2;
    margin-right: 5px;
}

.search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-left: -5px;
}

.search button img {
    height: 20px;
}

.burger-menu {
    display: none;
}

.burger-menu .line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px;
}

.burger-menu.active ~ .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
}

.burger-menu.active ~ .nav-links li {
    margin: 10px 0;
}


/* HERO-SECTION Jonas */

.hero {
    background-image: url('itstimeforhiking.png'); 
    background-size: cover;
    background-position: center;
    height: 400px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    color: white;
    padding-right: 500px;
    text-justify: inter-word;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 10px;
    color: orange;
    word-wrap: break-word;
    word-break: break-all;
    text-align-last: left;
}

.hero-text p {
    font-size: 18px;
    color: #777777;
    margin-right: 16vh;
}

.hero-text button {
    background-color: white;
    color: #666666;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px black solid;
    margin-right: 21vh;
}

/* LETS GO Jonas */

.lets-go {
    background-image: url('background-image2.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.lets-go-content {
    text-align: center;
    color: white;
    padding: 0 20px;
}

.lets-go-content h1 {
    color: orange;
}

.lets-go-content p {
    color: black;
}

.image-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-card {
    margin: 0 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    max-height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.image-card img {
    max-width: 100%;
}

.image-card p {
    background-color: #d2b48c;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    flex-grow: 1; /* Allow paragraph to grow and take remaining space */
}

.lets-go h1{
    font-size: 42px;
}

button {
    background-color: white;
    color: #666666;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* DISCOUNT Thomas */

.discount {
    display: flex;
    align-items: flex-start;
    background-color: rgb(129, 120, 113);
    text-align: center;
    margin-bottom: -5px;
    
}

.discount-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em;
    color: white;
    font-size: 1.3em;
    width: 50vw;
}

.discount-img  img {
    width: 49.8vw;
    height: fit-content;
    object-fit: cover;
    
}

.promo {
    display: flex;
    align-items: flex-start;
    background-color: rgb(228, 183, 132);
    text-align: center;
    margin-bottom: -4px;
}

.promo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em;
    color: white;
    font-size: 1.3em;
}

.promo-img  img {
    width: 49vw;
    height: 100%;
    object-fit: cover;
}

button {

    background-color: rgb(234, 168, 94);
    color: white;
    padding: 1em 2em;
    margin: auto;
    width: 15em;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
    text-transform: uppercase;

}

/* HIKING IN THE MOUNTAIN Thomas */

.hiking {
    background-image: url('hikinginthemountains.png');
    background-size: cover;
    background-position: center; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hiking-content {
    padding: 15em;
    font-size: 1.3em;

} 

/* EXPLORE THE WORLD Thomas */

.explore  img {
    max-width: 100%; 
    height: auto; 
}

/* TEXT Bb */

.Lorem-quote {
    background-image: url('background_explore.png');
    background-size: cover;
    background-position: center;
}

.lorem {
    display: flex;
    align-items: flex-start
    color: white;
    font-size: 1.3em;
    padding: 6em;
}

.lorem h1 {
    color: rgb(234, 168, 94);
}

.quote {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 6em;
    padding-top: -10em;
}

/* TITLE HERE Bb */

.subscribe-section {
    background-image: url('subscribe.png');
    background-size: cover;
    padding: 50px 0;
    text-align: center;
    color: white;
    height:320px;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

.subscribe-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white; 
}

.subscribe-content p {
    color: #333;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.search-container input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50%;
    margin-bottom: 30px;
}

.search-container button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #666666;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px; 
    margin-bottom: 50px;
}

/* FOOTER Bb */

.footer {
    background-image: url('footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 12px;
    padding: 50px 0;
    margin-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start */
    flex-wrap: wrap; /* Allow items to wrap to next line */
}

.footer-item {
    width: calc(25% - 20px); /* Adjust width as needed */
    padding: 0 10px;
    text-align: center;
    margin-bottom: 20px; /* Adjust spacing between items */
}

.footer-item h2 {
    font-size: 20px;
    color: white;
}

.footer-item p {
    color: white;
}


/* MEDIA QUERIES */

/* MEDIA QUERIES: NAVBAR & HERO-SECTION */

@media (max-width: 500px) {
    .nav-links {
        display: none;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-top: 5px;
    }

    .hero-text {
        padding-right: 5px;
    }

    .hero-text h1 {
        font-size: 28px; 
    }

    .hero-text p {
        font-size: 14px; 
        margin-right: 20px; 
    }

    .hero-text button {
        margin-right: 80px; 
    }

    .image-cards {
        flex-direction: column;
        align-items: center;
    }
    
    .image-card {
        margin-bottom: 20px;
    }

    .explore  img {
        max-width: 100%;
        height: 300px;
    } 

    .search-container input[type="text"] {
        margin-left: 10px;
        margin-right: 10px;
    }

    .search-container button {
        margin-left: 10px;
        margin-right: 10px;
    }

    .hiking {
        max-height: 300px;
    } 

    .hiking-content {
        font-size: 0.6rem;
    }
}

@media (min-width: 501px) and (max-width: 850px) {
    .navbar {
        padding: 0 20px; /* Adjust as needed */
    }

    .hero-text {
        padding-right: 20px; /* Adjust as needed */
    }

    .hero-text h1 {
        font-size: 36px; /* Adjust as needed */
    }

    .hero-text p {
        font-size: 16px; /* Adjust as needed */
        margin-right: 30px; /* Adjust as needed */
    }

    .hero-text button {
        margin-right: 50px; /* Adjust as needed */
    }
}