:root {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* NAVBAR Jonas */


/* HERO-SECTION Jonas */


/* LETS GO Jonas */


/* DISCOUNT Thomas */


/* HIKING IN THE MOUNTAIN Thomas */


/* EXPLORE THE WORLD Thomas */


/* TEXT Bb */


/* TITLE HERE Bb */


/* FOOTER Bb */

